---
import Section from "./Section.astro";
---
<Section title="Ingredients">
    <ul>
        <li><p>2-3 large eggs</p></li>
        <li><p>Salt, to taste</p></li>
        <li><p>Pepper, to taste</p></li>
        <li><p>1 tablespoon of butter or oil</p></li>
        <li><p>Optional fillings: cheese, diced vegetables, cooked meats, herbs</p></li>
    </ul>

</Section>
<style>
    li p{
        display: inline-block;
        
    }
</style>




