---
import Section from "./Section.astro";
---

<Section title="Instructions">
    <ol>
        <li>
            <strong>Beat the eggs:</strong><p>
                In a bowl, beat the eggs with a pinch of salt and pepper until
                they are well mixed. You can add a tablespoon of water or milk
                for a fluffier texture.
            </p>
        </li>
        <li>
            <strong>Heat the pan:</strong><p>
                Place a non-stick frying pan over medium heat and add butter or
                oil.
            </p>
        </li>
        <li>
            <strong>Cook the omelette:</strong><p>
                Once the butter is melted and bubbling, pour in the eggs. Tilt
                the pan to ensure the eggs evenly coat the surface.
            </p>
        </li>
        <li>
            <strong>Add fillings (optional):</strong><p>
                When the eggs begin to set at the edges but are still slightly
                runny in the middle, sprinkle your chosen fillings over one half
                of the omelette.
            </p>
        </li>
        <li>
            <strong>Fold and serve:</strong><p>
                As the omelette continues to cook, carefully lift one edge and
                fold it over the fillings. Let it cook for another minute, then
                slide it onto a plate.
            </p>
        </li>
        <li>
            <strong>Enjoy:</strong><p>
                Serve hot, with additional salt and pepper if needed.
            </p>
        </li>
    </ol>
</Section>

<style>
    ol {
        padding-inline: inherit;
        
    }
    li{
        margin-bottom: 0.5rem;
        font-size: 0.90rem;
    }
</style>
