---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>		
		<link rel="icon" sizes="32x32" href="/Recipe/favicon-32x32.png" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/*Primario */
		--Nutmeg: hsl(14, 45%, 36%);
		--DarkRaspberry: hsl(332, 51%, 32%);
		/*Neutral*/
		--White: hsl(0, 0%, 100%);
		--RoseWhite: hsl(330, 100%, 98%);
		--Eggshell: hsl(30, 54%, 90%);
		--LightGrey: hsl(30, 18%, 87%);
		--WengeBrown: hsl(30, 10%, 34%);
		--DarkCharcoal: hsl(24, 5%, 18%);
	}
	@font-face {
  font-family: 'Outfit';
  src: url('public/fonts/outfit/Outfit-VariableFont_wght.ttf') format('ttf')      
}

@font-face {
  font-family: 'Young Serif';
  src: url('public/fonts/young-serif/YoungSerif-Regular.ttf') format('ttf')
       
}
	
	*,*::after,*::before{
		box-sizing: border-box;
	}	
	body{
		margin: 0;
		background: var(--LightWhite);		
	}
	li p{
		display: inline;
		font-family: "Outfit";
		color: var(--WengeBrown);
		font-weight: 400;
	}
	strong{
		font-family: "Outfit";
		color: var(--DarkCharcoal);
		font-weight: 900;
	}
	li::marker{
		color: var(--DarkRaspberry);		
		font-size: 1rem;
	}
	li{
		padding-left: 1rem;
	}
	@media screen and (min-width: 1440px) {
		html{
		background: var(--Eggshell);
	}
        body{
			width: 50%;
			margin: 6rem auto;
			background: var(--White);
			border-radius: 1.315rem;
		}
		li{
			font-size: 1rem;
		}		        
    }
</style>
